__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite
*.tar.gz
*.zip
*.bak
*.swp

embeddings/
chunks/
dehydrated/chunks_runtime/

control_panel/__pycache__/
scripts/__pycache__/

venv/
.venv/

*.env
.env
.env.*


control_panel/neo4j_data/

control_panel/neo4j_data/
control_panel/qdrant_data/
*.tar.gz
*.bak
